import React, { Component } from 'react';
import './{{kebabCase name}}.{{style}}'

/**
 *
 * {{ properCase name }}
 *
 */
class {{ properCase name }} extends Component {
  constructor(props: any) {
    super(props)

    this.state = {}
  }

  render() {
    return <div>{{ properCase name }}</div>
  }
}

export default {{ properCase name }}
