import { FC } from 'react'
import './{{kebabCase name}}.{{style}}'

/**
 *
 * {{ properCase name }}
 *
 */
const {{properCase name}}: FC = () => {
  return <div>{{properCase name}}</div>
}

export default {{properCase name}}
